# Mysql
# mysql://user@localhost/amnesia

# Sqlite3
# :db: 'sqlite3:///path/to/amnesia.db'

# Default 
:development:
  :db: 'mysql://root@localhost/amnesia'
  :auth:
    :username: 'admin'
    :password: 'amnesia'

:test: 
  :db: 'sqlite3::memory:'
  :auth:
    :username: 'admin'
    :password: 'amnesia'

:production:
  :db: 'sqlite3:///var/www/amnesia/shared/amnesia.db'
  :auth:
    :username: 'admin'
    :password: 'amnesia'