<h2>Add a new host</h2>
<form action="/hosts/create" method="post">
  <label for="host">Address of your memcached host</label>
  <input type="text" name="host[address]" id="host">  
  
  <button>Add host</button>
</form>