- if @hosts.any?{|host| host.alive? }
  %article.stats
    %section.stats-graph
      %img{src: graph_url([@hosts.collect{|h| h.get_hits if h.alive? }.compact.sum, @hosts.collect{|h| h.get_misses if h.alive? }.compact.sum])}
    %section.stats-text
      %h3
        %span.graph-indicator Hit
        \/ Miss
      %p The amount of returned caches vs misses, misses usually require your application servers to work harder.

  %article.stats
    %section.stats-graph
      %img{src: graph_url([@hosts.collect{|h| h.cmd_get if h.alive? }.compact.sum, @hosts.collect{|h| h.cmd_set if h.alive? }.compact.sum])}
    %section.stats-text
      %h3
        %span.graph-indicator Read
        \/ Write
      %p More writes than reads can often mean that you’re caching too early, or that you’ve not been monitoring for very long.

  %article.stats
    %section.stats-graph
      %img{src: graph_url([@hosts.collect{|h| h.bytes if h.alive? }.compact.sum, @hosts.collect{|h| h.limit_maxbytes if h.alive? }.compact.sum])}
    %section.stats-text
      %h3
        %span.graph-indicator Used Memory
        \/ Free Memory
      %p The cumulative amount of free memory and total memory across all active hosts.

%nav
  %p.sub Known Hosts
  %ul
  - for host in @hosts
    - if host.alive?
      %li.alive-host
        %a{href: url("/#{host.address}") }= host.address
    - else
      %li.dead-host
        = host.address
        (Inactive)
